<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C001apk"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.app.AppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.UserActivity"
            android:exported="false"
            android:theme="@style/Theme.User" />
        <activity
            android:name=".ui.activity.CopyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.webview.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.topic.TopicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.feed.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>